@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.Modal_overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
}
.ModalContainer {
  background-color: #ffd305;
  width: 500px;
  min-height: 100px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.ModalContainer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 359px;
  padding-left: ;
}
.subhead {
  color: #4d4d4d;
}
.inputemailwv {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}
.emailbox {
  text-align: left;
}
.correowv {
  font-size: 11px;
}
.passwordwv {
  padding: 15px 0 0 0;
  font-size: 11px;
}
.emailwvbox {
  border: none;
  padding: 2.5px 0px;
}
.passbox {
  padding: 2.5px 0px;
  margin: 0 0 5px 0;
  border: none;
}
.btningresarmodal {
  margin: 20px 2px 2px 0;
  padding: 7px 0;
  border-radius: 18px;
  background-color: #244cd3;
  color: white;
  border: none;
  letter-spacing: 1.25px;
  width: 100%;
}
.buttonlogin-forgetpass {
  text-align: center;
}
.forgetpassword {
  margin: 35px 0 0 0;
  font-size: 11px;
}
.closebtn {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: #000;
}
